{% extends 'layouts/client.html' %}

{% block title %}Home - Flask Client{% endblock %}

{% block app %}
<!-- /section -->
<section class="wrapper bg-light">
    <div class="container pb-10">
        <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center mt-lg-10 mb-16 mb-md-18">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="img-mask mask-3 px-xxl-5">
                    <img src="{{ url_for('static', filename='assets/img/avatars/avatar.jpg')}}" alt="image" />
                </div>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <h2 class="display-2 mb-3">More About Me</h2>
                <p class="lead fs-24">👋 Hi! I'm Yoga Pangestu, a passionate Web Developer 💻 with a deep love for
                    building interactive, efficient, and scalable web applications. I thrive on solving challenges and
                    turning ideas into functional digital solutions.</p>
                <p>With expertise in modern technologies like Flask, Laravel, and JS, I specialize in
                    crafting seamless user experiences and robust backend systems. Writing clean, maintainable code is
                    not just a habit—it's my philosophy.</p>
                <p>I'm always eager to learn, improve, and stay up to date with the latest trends in web development.
                    Whether it's optimizing performance or creating intuitive interfaces, I enjoy every part of the
                    development process.</p>
            </div>
            <!--/column -->
        </div>
        <!-- /.row -->
        <div class="row gx-md-8 gx-xl-12 gy-10">
            <div class="col-lg-5 mx-auto">
                <h2 class="display-2 mb-3">My Experience</h2>
                <p class="lead fs-24 pe-xxl-8">I’ve worked on projects ranging from small-scale applications to large
                    enterprise solutions. Collaborating with various teams, I enjoy turning ideas into reality through
                    clean and efficient code.</p>
            </div>

            <div class="col-lg-7">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-info meta fs-14">2024 - Present</div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Full-Stack Developer at Pratama Solusi Teknologi</h3>
                            <p>Responsible for developing and maintaining both frontend and backend applications.
                                Focused on optimizing system performance, enhancing user experience, and ensuring
                                seamless integration across platforms.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info meta fs-14">2023 - 2024</div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Junior Web Developer at Pratama Solusi Teknologi</h3>
                            <p>Assisted in building and improving web applications by implementing interactive UI
                                components,
                                debugging issues, and collaborating with senior developers to follow best coding
                                practices.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
{% endblock %}