{% extends 'layouts/client.html' %}

{% block title %}Home - Flask Client{% endblock %}

{% block app %}
<section class="section-frame mx-xxl-11 overflow-hidden">
    <div class="wrapper image-wrapper bg-image bg-cover bg-overlay bg-overlay-light-500"
        data-image-src="{{ url_for('static', filename='assets/img/photos/bg23.png')}}">
        <div class="container py-16 py-md-18 text-center position-relative">
            <div class="position-absolute shape yellow d-none d-lg-block w-5" style="top: 18%; left: 5%;"><img
                    src="{{ url_for('static', filename='assets/img/svg/pie.svg')}}"
                    class="svg-inject icon-svg w-100 h-100" alt="image" /></div>
            <div class="position-absolute shape leaf d-none d-lg-block w-10" style="bottom: 30%; left: 2%;"><img
                    src="{{ url_for('static', filename='assets/img/svg/scribble.svg')}}"
                    class="svg-inject icon-svg w-100 h-100" alt="image" /></div>
            <div class="position-absolute shape fuchsia d-none d-lg-block w-6"
                style="top: 20%; right: 2%; transform: rotate(70deg);"><img
                    src="{{ url_for('static', filename='assets/img/svg/tri.svg')}}"
                    class="svg-inject icon-svg w-100 h-100" alt="image" /></div>
            <div class="position-absolute shape grape d-none d-lg-block w-6" style="bottom: 28%; right: 5%;">
                <img src="{{ url_for('static', filename='assets/img/svg/circle.svg')}}"
                    class="svg-inject icon-svg w-100 h-100" alt="image" />
            </div>
            <div class="row">
                <div class="col-lg-9 col-xxl-8 mx-auto">
                    <h1 class="fs-50 px-md-10 px-lg-0 px-xl-8 mb-5">👋 Hello! I'm
                        Yoga Pangestu, a Web Developer.</h1>
                    <p class="lead fs-24 px-md-10 px-lg-0 mx-lg-n10 mx-xl-0 mb-8">
                        I am very passionate about the work I do. Explore further to
                        see the various projects I have worked on and my experience in web development.
                    </p>
                    <a href="#" class="btn btn-lg btn-primary btn-icon btn-icon-end">
                        View My Work <i class="uil uil-arrow-up-right"></i>
                    </a>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrapper -->
</section>
<!-- /section -->
<section class="wrapper bg-light">
    <div class="container pt-16 pt-md-18">
        <div class="row d-flex align-items-start gy-10 mb-18 mb-md-20">
            <div class="col-lg-5 position-lg-sticky" style="top: 8rem;">
                <h3 class="display-2 mb-5">The services I offer are tailored to your web development needs.</h3>
                <p class="mb-7">
                    From building modern, responsive websites to optimizing performance and functionality,
                    I provide high-quality solutions to help you achieve your goals.
                </p>
                <a href="#" class="btn btn-lg btn-primary btn-icon btn-icon-end">More Details <i
                        class="uil uil-arrow-up-right"></i></a>
            </div>
            <!-- /column -->
            <div class="col-lg-6 ms-auto">
                <div class="card bg-soft-fuchsia mb-6">
                    <div class="card-body d-flex flex-row">
                        <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/lineal/settings-3.svg')}}"
                                class="svg-inject icon-svg icon-svg-md text-fuchsia me-5" alt="image" />
                        </div>
                        <div>
                            <h3 class="fs-21 mb-2">Custom Web Development</h3>
                            <p class="mb-0">Building responsive, high-performance websites tailored to your
                                needs.</p>
                        </div>
                    </div>
                </div>

                <div class="card bg-soft-aqua mb-6">
                    <div class="card-body d-flex flex-row">
                        <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/lineal/puzzle-2.svg')}}"
                                class="svg-inject icon-svg icon-svg-md text-aqua me-5" alt="image" />
                        </div>
                        <div>
                            <h3 class="fs-21 mb-2">Web Strategy & Planning</h3>
                            <p class="mb-0">Helping you define clear goals and effective strategies for your
                                website.</p>
                        </div>
                    </div>
                </div>

                <div class="card bg-soft-yellow mb-6">
                    <div class="card-body d-flex flex-row">
                        <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/lineal/analytics.svg')}}"
                                class="svg-inject icon-svg icon-svg-md text-yellow me-5" alt="image" />
                        </div>
                        <div>
                            <h3 class="fs-21 mb-2">SEO Optimization</h3>
                            <p class="mb-0">Enhancing your website’s visibility with best SEO practices.</p>
                        </div>
                    </div>
                </div>

                <div class="card bg-soft-leaf mb-6">
                    <div class="card-body d-flex flex-row">
                        <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/lineal/workflow.svg')}}"
                                class="svg-inject icon-svg icon-svg-md text-leaf me-5" alt="image" />
                        </div>
                        <div>
                            <h3 class="fs-21 mb-2">Backend Development</h3>
                            <p class="mb-0">Developing secure and scalable server-side solutions.</p>
                        </div>
                    </div>
                </div>

                <div class="card bg-soft-orange mb-6">
                    <div class="card-body d-flex flex-row">
                        <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/lineal/ranking.svg')}}"
                                class="svg-inject icon-svg icon-svg-md text-orange me-5" alt="image" />
                        </div>
                        <div>
                            <h3 class="fs-21 mb-2">Performance Optimization</h3>
                            <p class="mb-0">Improving website speed and efficiency for a better user experience.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card bg-soft-grape">
                    <div class="card-body d-flex flex-row">
                        <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/lineal/browser.svg')}}"
                                class="svg-inject icon-svg icon-svg-md text-grape me-5" alt="image" />
                        </div>
                        <div>
                            <h3 class="fs-21 mb-2">Web Design & UI/UX</h3>
                            <p class="mb-0">Creating visually appealing and user-friendly website designs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row align-items-center mb-10">
            <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7">
                <h2 class="display-2 mb-0">Here are some of my most recent projects. Take a look and see what I
                    can do for you.</h2>
            </div>
            <!--/column -->
            <div class="col-md-4 col-lg-3 ms-md-auto text-md-end mt-5 mt-md-0">
                <a href="#" class="btn btn-lg btn-primary btn-icon btn-icon-end mb-0">See All Projects <i
                        class="uil uil-arrow-up-right"></i></a>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="card bg-soft-violet mb-10">
            <div class="card-body p-12 pb-0">
                <div class="row">
                    <div class="col-lg-4 pb-12 align-self-center">
                        <div class="post-category fs-15 mb-3 text-violet">Company</div>
                        <h3 class="h1 post-title mb-3">Sibadeksa</h3>
                        <p>An Integrated Database Information System for the Development of the Economic Sector
                            and Natural Resources.
                            Facilitates analysis and data management to support development policies.</p>
                        <a href="https://sibadeksa.purwakartakab.go.id" target="_blank"
                            class="btn btn-sm btn-violet btn-icon btn-icon-end mb-0">
                            See Project <i class="uil uil-arrow-up-right"></i>
                        </a>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7 offset-lg-1 align-self-end">
                        <figure>
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/projects/f1.png')}}"
                                alt="image" />
                        </figure>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!--/.card-body -->
        </div>
        <!--/.card -->
        <div class="card bg-soft-blue mb-10">
            <div class="card-body p-12">
                <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                        <div class="post-category fs-15 mb-3 text-blue">Company</div>
                        <h3 class="h1 post-title mb-3">Simedkom</h3>
                        <p>An Information System for Media and Communication Management, enabling efficient data
                            sharing,
                            collaboration, and information dissemination.</p>
                        <a href="https://simedkom.purwakartakab.go.id" target="_blank"
                            class="btn btn-sm btn-blue btn-icon btn-icon-end mb-0">See Project <i
                                class="uil uil-arrow-up-right"></i></a>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                        <figure><img class="img-fluid"
                                src="{{ url_for('static', filename='assets/img/projects/f2.png')}}" alt="image" />
                        </figure>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!--/.card-body -->
        </div>
        <!--/.card -->
        <div class="row gx-md-8 gx-xl-10">
            <div class="col-lg-6">
                <div class="card bg-soft-leaf mb-10">
                    <div class="card-body p-12 pb-0">
                        <div class="post-category fs-15 mb-3 text-leaf">Personal</div>
                        <h3 class="h1 post-title mb-3">Mastercut Barbershop</h3>
                        <p>A premium barbershop offering professional haircuts, grooming services, and a stylish
                            experience
                            to keep you looking your best.</p>
                        <a href="https://mastercutpabuaran.com" target="_blank"
                            class="btn btn-sm btn-leaf btn-icon btn-icon-end mb-10">See Project <i
                                class="uil uil-arrow-up-right"></i></a>
                    </div>
                    <!--/.card-body -->
                    <img class="card-img-bottom" src="{{ url_for('static', filename='assets/img/projects/f3.png')}}"
                        alt="image" />
                </div>
                <!--/.card -->
            </div>
            <!-- /column -->
            <div class="col-lg-6">
                <div class="card bg-soft-pink">
                    <div class="card-body p-12 pb-0">
                        <div class="post-category fs-15 mb-3 text-pink">Company</div>
                        <h3 class="h1 post-title mb-3">Catalyst Indonesia</h3>
                        <p>A leading catalyst industry in Indonesia, dedicated to innovation and sustainability
                            in energy development
                            to support national industrial growth.</p>
                        <a href="https://katalis-indonesia.com" target="_blank"
                            class="btn btn-sm btn-pink btn-icon btn-icon-end mb-10">See Project <i
                                class="uil uil-arrow-up-right"></i></a>
                    </div>
                    <!--/.card-body -->
                    <img class="card-img-bottom" src="{{ url_for('static', filename='assets/img/projects/f4.png')}}"
                        alt="image" />
                </div>
                <!--/.card -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
{% endblock %}