<link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plugins.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/colors/navy.css') }}">
<link rel="preload" href="{{ url_for('static', filename='assets/css/fonts/space.css') }}" as="style"
    onload="this.rel='stylesheet'">