<footer>
    <div class="container py-7">
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-2 mb-lg-0">Made with passion & coffee ☕ | Yoga Pangestu</p>
            <nav class="nav social social-muted mb-0 text-md-end">
                <a href="https://web.facebook.com/profile.php?id=100092236272919">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/ygapangestuuu_?igsh=Yzg0dDF0OWQ4d3ox" target="_blank">
                    <i class="uil uil-instagram"></i>
                </a>
                <a
                    href="https://wa.me/6282121495806?text=Hi,%20saya%20(Nama%20Anda).%20Saya%20tertarik%20dengan%20pekerjaan%20Anda%20dan%20ingin%20memesan%20aplikasi.%20Bisakah%20Anda%20membantu%20saya%20membuat%20(jenis%20aplikasi)%3F%0A%0ABerikut%20beberapa%20detail%20yang%20saya%20butuhkan:%0A-%20Jenis%20Aplikasi:%20(Website/Mobile%20App/Sistem%20Kustom)%0A-%20Platform:%20(Android/iOS/Web)%0A-%20Fitur%20Utama:%20(Login,%20Dashboard,%20Payment%20Gateway,%20dll.)%0A-%20Budget:%20(Sebutkan%20anggaran)%0A-%20Deadline:%20(Estimasi%20waktu)%0A%0AMohon%20info%20lebih%20lanjut%20mengenai%20proses%20dan%20estimasi%20biaya.%20Saya%20menunggu%20kabar%20dari%20Anda.%20Terima%20kasih!"><i
                        class="uil uil-whatsapp"></i></a>
            </nav>
            <!-- /.social -->
        </div>
    </div>
    <!-- /.container -->
</footer>